<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates!</title>
  </head>
  <body>
    <h1>"Welcome to the Nested Forms Lab!"</h1>
    <h2>"let's navigate to the '/new'"</h2>
  </body>
</html>
